language: node_js
node_js:
  - 'lts/*'
dist: trusty
sudo: required
env:
  global:
    - CC_TEST_REPORTER_ID=3868b078bd767a7c54dbb77c6b7e427ef0da3421dae1b643bfd0b41106cd4774
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
addons:
  chrome: stable
cache:
  directories:
    - node_modules
script:
  - npm run test:ci
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT
