.transfers {
  display: flex;
  flex-wrap: wrap;
}

.transfer {
  color: white;
  background: lightsalmon;
  margin: 15px;
  padding: 5px;
}

.transfer--error {
  background: red;
}

.transfer--success {
  background: green;
}

.name {
  max-width: 300px;
  font-weight: bold;
}
