<h1>ngx-flow example</h1>

<p>Is flowjs supported by the browser? {{flow.flow?.support}}</p>

<input type="file" flowButton [flowConfig]="flowConfig" #flow="flowButton">

<table>
  <tr>
    <th>filename</th>
    <th>progress</th>
    <th>status</th>
  </tr>
  <tr *ngFor="let transfer of (flow.transfers$ | async).transfers">
    <td>{{transfer.name}}</td>
    <td>{{transfer.progress | percent}}</td>
    <td>
      <button (click)="flow.pauseFile(transfer)">pause</button>
      <button (click)="flow.resumeFile(transfer)">resume</button>
      <button (click)="flow.cancelFile(transfer)">cancel</button>
    </td>
  </tr>
</table>

<button type="button" (click)="flow.upload()" [disabled]="!(flow.somethingToUpload$ | async)">Start upload</button>
<button type="button" (click)="flow.cancel()" [disabled]="!(flow.transfers$ | async).transfers.length">Cancel all</button>
Total progress: {{(flow.transfers$ | async).totalProgress | percent}}
