name: Build & Test

on:
  push:
    branches:
      - "**"

jobs:
  build-test:
    runs-on: ubuntu-latest
    if: ${{ github.actor != 'dependabot[bot]' }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build Angular library
        run: npx ng build ngx-flow
      - name: Run unit tests
        run: npx ng test ngx-flow --watch=false --browsers=ChromeHeadless --code-coverage
      - name: Send coverage to QLTY
        uses: qltysh/qlty-action/coverage@v2
        with:
          token: ${{secrets.QLTY_COVERAGE_TOKEN}}
          files: coverage/ngx-flow/lcov.info
